
ALTER PROCEDURE [dbo].[GetTableColumns] 
@TableName NVARCHAR(255)
AS
BEGIN
    SELECT COLUMN_NAME AS name, DATA_TYPE AS type
    FROM INFORMATION_SCHEMA.COLUMNS
    WHERE TABLE_NAME = @TableName;
END

